allow cameraserver perfd_data_file:sock_file write;
allow cameraserver perfd:unix_stream_socket connectto;
allow cameraserver socket_device:sock_file write;

