allow mediacodec perfd_data_file:sock_file write;
allow mediacodec perfd:unix_stream_socket connectto;
allow mediacodec system_server:fifo_file { write append };
allow mediacodec perfd_data_file:dir search;
