get_prop(mm-pp-daemon, diag_prop)
allow mm-pp-daemon self:socket { create write read };
allowxperm mm-pp-daemon self:socket ioctl msm_sock_ipc_ioctls;
allow mm-pp-daemon sysfs_mdss_mdp_caps:file r_file_perms;
