allow servicemanager mediaswcodec:dir r_dir_perms;
allow servicemanager mediaswcodec:file r_file_perms;
allow servicemanager mediaswcodec:process getattr;
