get_prop(time_daemon, diag_prop);
allow time_daemon time_data_file:lnk_file rw_file_perms;
allow time_daemon system_data_file:lnk_file rw_file_perms;
