# SPECTRUM KERNEL MANAGER
# Ramdisk file for profile based kernel management
# Implimentation inspired by Franco's fku profiles

# Initialization
on property:sys.boot_completed=1
   # Set default profile on first boot
   exec u:r:init:s0 root root -- /init.spectrum.sh
   exec u:r:su:s0 root root -- /init.spectrum.sh
   # Enable Spectrum support
   setprop spectrum.support 1

# ################################################################
# Battery
on property:persist.spectrum.profile=2
   write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor chill
   write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor smartmax_eps

   write /sys/module/mdss_fb/parameters/backlight_dimmer 1
   write /sys/module/adreno_idler/parameters/adreno_idler_active 1
   write /sys/module/cpu_boost/parameters/input_boost_enabled 0
   write /sys/class/leds/lcd-backlight/max_brightness 127
   write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 27000000
   write /sys/class/kgsl/kgsl-3d0/max_gpuclk 390000000
   write /sys/class/misc/btk_control/btkc_mode 2
   write /sys/class/misc/btk_control/btkc_timeout 0
   write /sys/block/mmcblk0/queue/scheduler noop
   write /sys/block/mmcblk0/queue/read_ahead_kb 1024
   write /sys/class/kgsl/kgsl-3d0/devfreq/adrenoboost 0
   write /sys/class/kgsl/kgsl-3d0/max_pwrlevel 3
   write /sys/class/kgsl/kgsl-3d0/default_pwrlevel 8


# Balance (default profile)
on property:persist.spectrum.profile=0
write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "alucard"
write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor "electron"
write /sys/module/cpu_boost/parameters/input_boost_enabled 1
write /sys/module/cpu_boost/parameters/input_boost_freq "0:729600 1:0 2:729600 3:0"
write /sys/module/cpu_boost/parameters/input_boost_ms 20
write /sys/module/msm_performance/parameters/touchboost 1
write /sys/class/devfreq/b00000.qcom,kgsl-3d0/min_freq 133000000
write /sys/class/devfreq/b00000.qcom,kgsl-3d0/governor msm-adreno-tz
write /sys/class/kgsl/kgsl-3d0/max_pwrlevel 0
write /sys/class/kgsl/kgsl-3d0/default_pwrlevel 8
write /sys/module/mdss_fb/parameters/backlight_dimmer 1
write /sys/class/leds/lcd-backlight/max_brightness 200
   
# Performance 
on property:persist.spectrum.profile=1
	write /sys/block/sda/queue/scheduler "deadline"
	write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "nightmare"
	write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor "darkness"
	write /sys/module/cpu_boost/parameters/input_boost_freq "0:1228800 1:1228800 2:1248000 3:1248000"
	write /sys/module/cpu_boost/parameters/input_boost_ms 400
	write /sys/module/msm_performance/parameters/touchboost 1
	write /sys/class/devfreq/b00000.qcom,kgsl-3d0/min_freq 133000000
	write /sys/class/devfreq/b00000.qcom,kgsl-3d0/governor msm-adreno-tz
   write /sys/module/mdss_fb/parameters/backlight_dimmer 0
   write /sys/class/leds/lcd-backlight/max_brightness 200
   write /sys/module/adreno_idler/parameters/adreno_idler_active 1
   write /sys/block/mmcblk0/queue/scheduler maple
   write /sys/block/mmcblk0/queue/read_ahead_kb 1024
   write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 100000000
   write /sys/class/kgsl/kgsl-3d0/max_gpuclk 510000000
   write /sys/class/misc/btk_control/btkc_mode 1
   write /sys/class/misc/btk_control/btkc_timeout 1000
   write /sys/class/kgsl/kgsl-3d0/devfreq/adrenoboost 1
   write /sys/class/kgsl/kgsl-3d0/max_pwrlevel 0
   write /sys/class/kgsl/kgsl-3d0/default_pwrlevel 7


# Gaming
on property:persist.spectrum.profile=3
   write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor gabriel
   write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor elementalx
   write /sys/module/mdss_fb/parameters/backlight_dimmer 0
   write /sys/module/adreno_idler/parameters/adreno_idler_active 1
   write /sys/class/leds/lcd-backlight/max_brightness 255
   write /sys/block/mmcblk0/queue/scheduler maple
   write /sys/block/mmcblk0/queue/read_ahead_kb 2048
   write /sys/module/cpu_boost/parameters/input_boost_enabled 1
   write /sys/module/cpu_boost/parameters/input_boost_ms 400
   write /sys/module/cpu_boost/parameters/input_boost_freq "0:1228800 1:1228800 2:1248000 3:1248000"
   write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 100000000
   write /sys/class/kgsl/kgsl-3d0/max_gpuclk 630000000
   write /sys/class/misc/btk_control/btkc_mode 0
   write /sys/class/misc/btk_control/btkc_timeout 0
   write /sys/class/kgsl/kgsl-3d0/devfreq/adrenoboost 2
   write /sys/class/kgsl/kgsl-3d0/max_pwrlevel 0
   write /sys/class/kgsl/kgsl-3d0/default_pwrlevel 7

