<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2017 The MoKee Open Source Project

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:sharedUserId="android.uid.system"
          package="com.oneplus.shit.settings"
          android:versionCode="2"
          android:versionName="2.0" >
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INJECT_EVENTS"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
	
    <protected-broadcast android:name="com.oneplus.shit.settings.UPDATE_SLIDER_SETTINGS" />

    <application
        android:icon="@mipmap/ic_launcher_settings"
        android:label="@string/device_extras"
	android:theme="@style/Theme.Settings"
        android:supportsRtl="true"
        android:defaultToDeviceProtectedStorage="true"
        android:directBootAware="true">
        <activity
            android:name="com.oneplus.shit.settings.ShitPanelSettings"
            android:exported="true"
            android:label="@string/device_extras" >
	    <intent-filter>
		<action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- Additional button settings (Button settings) -->
        <activity
            android:name="com.oneplus.shit.settings.ButtonSettingsActivity"
	    android:label="@string/slider_op_title"
	    android:theme="@style/Theme.Settings">
	    <intent-filter>
		<action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.oneplus.shit.settings.KeyHandler" />
		
        <!-- Gestures Settings -->
	<activity
            android:name="com.oneplus.shit.settings.ScreenOffGestureSettings"
            android:label="@string/screen_off_gesture_title">
          <intent-filter>
	        <action android:name="android.intent.action.MAIN" />
    	        <category android:name="android.intent.category.DEFAULT" />
          </intent-filter>
	</activity>
        <!-- Display Calibration -->
        <activity
            android:name="com.oneplus.shit.settings.DisplayCalibration"
            android:label="@string/kcal_title">
            <intent-filter>
		 <action android:name="android.intent.action.MAIN" />
  	         <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- OnePlus Panel Modes -->
        <activity
            android:name="com.oneplus.shit.settings.PanelSettingsActivity"
	    android:label="@string/panel_category_title"
	    android:launchMode="singleTask" >
            <intent-filter>
		 <action android:name="android.intent.action.MAIN" />
  	         <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <service
            android:name="com.oneplus.shit.settings.PanelModeTileService"
            android:icon="@drawable/ic_panel_tile"
            android:label="@string/tile_panel_mode"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action
                    android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>
        <service
            android:name="com.oneplus.shit.settings.HBMModeTileService"
            android:icon="@drawable/ic_hbm_tile"
            android:label="@string/tile_hbm_mode"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action
                    android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>
        <receiver android:name="com.oneplus.shit.settings.Startup" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
